<p class="bg-light text-dark text-center mb-0">
  &copy; 2023 Tech Blog by
  <a
    href="https://github.com/xkolsha"
    target="_blank"
    class="text-decoration-none"
  >
    Aviad Kohn
  </a>. The source code is licensed MIT.
</p>