<div class="container">
  <h1>Login / Signup</h1>

  <h2>Login</h2>
  <form id="login-form">
    <input
      type="text"
      id="username-login"
      name="username"
      placeholder="Username"
    />
    <input
      type="password"
      id="password-login"
      name="password"
      placeholder="Password"
    />
    <button type="submit">Login</button>
  </form>

  <h2>Signup</h2>
  <form id="signup-form">
    <input
      type="text"
      id="username-signup"
      name="username"
      placeholder="Username"
    />
    <input
      type="password"
      id="password-signup"
      name="password"
      placeholder="Password"
    />
    <button type="submit">Signup</button>
  </form>
</div>