<!-- user-profile.handlebars -->
<div class="container">
  <h1>Your Profile</h1>
  <form id="update-user-form">
    <input type="text" name="username" value="{{user.username}}" />
    <input type="password" name="password" placeholder="New Password" />
    <button type="submit">Update Profile</button>
  </form>
  <button id="delete-user-button">Delete Account</button>
</div>